<!DOCTYPE html>
<html>
    <head>
        <title>SSAFY 수업내용 홈</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>    
            </thead>
            <tbody>
                <tr>
                    <th><a href="/lotto"><button>로또</button></a></th>
                    <th><a href="/toon?type=naver"><button>네이버 웹툰</button></a></th>
                    <th><a href="/toon?type=daum"><button>다음 웹툰</button></a></th>
                    <th><a href="/apart"><button>아파트 실거래가</button></a></th>
                    <th><a href="/exchange"><button>환율가즈아</button></a></th>
                    <th><a href="/food"><button>강남역 맛집</button></a></th>
                </tr>
            </tbody>
        </table>
    </body>
</html>